@font-face {
  font-family: "iconfont"; /* Project id 3895852 */
  src: url('~@/static/font/iconfont.woff2?t=1676447240320') format('woff2'),
       url('~@/static/font/iconfont.woff?t=1676447240320') format('woff'),
       url('~@/static/font/iconfont.ttf?t=1676447240320') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youjiantou:before {
  content: "\e625";
}

